/**
 * File root.scss
 * Description: Root variables
 */

:root {
	--primary-color: #654570;
	--secondary-color: #E5E5E5;
	--text-color: #000000;
	--text-invert: #ffffff;
    --black: #000000;
    --white: #ffffff;
}
