/* ======================================================================
* File: breakpoints.scss
* Description: Breakpoints variables
* ====================================================================== */

// Custom breakpoints
$break-max: 1500px;
$break-nav: 1400px;
$break-landscape-large: 1260px;
$break-landscape: 1023px;
$break-portrait: 768px;
$break-small: 640px;
$break-large: 800px;
