/* ======================================================================
* File: components.scss
* Description: Components variables
* ====================================================================== */

// #region sizes
// =====================================================================
$full: 100%;
$siteHeaderSize: 158.7rem;
$siteSize: 120rem;
$maxBreak: 114rem;
$mediumBreak: 66rem;
$maxWidth: 190.0rem;
// #endregion
