/* ======================================================================
* File: zindex.scss
* Description: Zindex variables
* ====================================================================== */

// Nav
$nav: 1001;

// Header
$header: 10;

// Form
$form: 1000;