/* ======================================================================
* File: global.scss
* Description: Global styles
* ====================================================================== */

@use "../0_config/variables/project" as project;
@use "../0_config/variables/components" as component;
@use "../0_config/variables/breakpoints" as breakpoint;
@use "../0_config/mixins/typos" as typos;

* {
	box-sizing: border-box;
	outline: none;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*
font-family: 'Inria Sans', sans-serif;
font-family: 'Inria Serif', serif;
font-family: 'Inter', sans-serif;
*/

//Animations
@keyframes fadeInLeft {
	from {
	  	opacity: 0;
	  	top: -100px;
	}
	to {
	  	opacity: 1;
	  	top: 0;
	}
}

::-moz-selection {
    color: var(--white);
    background: var(--primary-color);
}

::selection {
    color: var(--white);
    background: var(--primary-color);
}

a {
	text-decoration: none;
	color: var(--text-color);
}

h2 {
	@include typos.title(var(--text-color), left);
}

p {
	@include typos.text(var(--text-color));
}

body, html {
	background: var(--white);
	width: component.$full;
	height: component.$full;
	@include typos.text(var(--text-color));
}

body {
	&.noscroll {
		// position: fixed;
		overflow: hidden;
	}
	&.is-scrolled {

		.#{project.$ns}header {
			position: fixed;
			top: 0;
		}
	}
}

@media screen and (max-width: breakpoint.$break-small) {}
